<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Lista de recetas</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 text-gray-800">
    <div class="max-w-7xl mx-auto p-6 bg-white shadow-lg rounded-lg">
      <h1 class="text-3xl font-bold text-center mb-6">Recetas disponibles</h1>

      <!-- Botón para crear una nueva receta -->
      <div class="text-right mb-4">
        <a href="/recipes/new">
          <button
            class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
          >
            Crear nueva receta
          </button>
        </a>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <!-- Iterar sobre la lista de recetas -->
        <div
          th:each="recipe : ${recipes}"
          class="bg-white shadow-md rounded-lg overflow-hidden"
        >
          <!-- Slider de fotos -->
          <div
            th:if="${recipe.photos != null and #lists.size(recipe.photos) > 0}"
          >
            <div class="relative">
              <div class="flex overflow-x-auto snap-x">
                <img
                  th:each="photo, iterStat : ${recipe.photos}"
                  th:src="${photo.url}"
                  alt="Recipe Image"
                  class="h-48 w-full object-cover snap-center"
                />
              </div>
            </div>
          </div>

          <!-- Caso en que no haya fotos -->
          <div
            th:if="${recipe.photos == null or #lists.size(recipe.photos) == 0}"
          >
            <div class="h-48 bg-gray-200 flex items-center justify-center">
              <p class="text-gray-500">No hay imágenes disponibles</p>
            </div>
          </div>

          <!-- Contenido de la receta -->
          <div class="p-4">
            <h2
              class="text-xl font-bold text-gray-900 truncate"
              th:text="${recipe.title}"
            >
              Título receta
            </h2>
            <p
              class="text-sm text-gray-600 mt-2 line-clamp-3"
              th:text="${recipe.description}"
            >
              Descripción
            </p>

            <p class="text-sm text-gray-600 mt-2">
              Tiempo de preparación:
              <span th:text="${recipe.cookTime}"></span> minutos
            </p>
            <p class="text-sm text-gray-600">
              Dificultad:
              <span th:text="${recipe.difficulty.getDisplayName()}"></span>
            </p>
          </div>

          <!-- Botón de detalles -->
          <div class="p-4 text-center">
            <a
              th:href="@{/recipes/{id}(id=${recipe.id})}"
              class="text-blue-500 hover:underline"
              >Ver detalle</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
